Parsing fails for negative integer values

Hi,

in my current project we are generating certificates where the serial number can be negative. If that's the case, parsing the certificate fails with the following error:

```
backingCode	invalidASN1IntegerEncoding
reason	"INTEGER encoded with top bit set!"	
```

According to [this specification](https://www.itu.int/ITU-T/studygroups/com17/languages/X.690-0207.pdf) negative integer values are valid though:

> 8.3 Encoding of an integer value 
> [...]
> 8.3.3 The contents octets shall be a two's complement binary number equal to the integer value, and consisting of
bits 8 to 1 of the first octet, followed by bits 8 to 1 of the second octet, followed by bits 8 to 1 of each octet in turn up to
and including the last octet of the contents octets.
> _NOTE – The value of a two's complement binary number is derived by numbering the bits in the contents octets, starting with bit1 of the last octet as bit zero and ending the numbering with bit 8 of the first octet. Each bit is assigned a numerical value of 2N, where N is its position in the above numbering sequence. The value of the two's complement binary number is obtained by summing the numerical values assigned to each bit for those bits which are set to one, excluding bit 8 of the first octet, and then reducing this value by the numerical value assigned to bit 8 of the first octet if that bit is set to one._ 

Is there a specific motivation to disallow negative integer values?

Thanks in advance!

Yes, [RFC 5280 § 4.1.2.2](https://datatracker.ietf.org/doc/html/rfc5280#section-4.1.2.2), which is so emphatic about it that it manages to say this twice in one paragraph:

> The serial number MUST be a positive integer assigned by the CA to each certificate.  It MUST be unique for each certificate issued by a given CA (i.e., the issuer name and serial number identify a unique certificate).  CAs MUST force the serialNumber to be a non-negative integer.


Thank you @Lukasa for the quick response and explanation ❤️ 